nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 12vh;
    width: 100%;
    background-color: #fff;
    /* position: fixed; */
}

.left{
    display: flex;
}

.left i{
    font-size: 3rem;
    color: blueviolet;
}

.left h4{
    margin-left: 2px;
    font-weight: 100;
    color: grey;
}


.right ul{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 20px;
    list-style: none;
}

.right ul {
    cursor: pointer;
    list-style: none;
    font-size: 1.2rem;
    border-radius: 1rem;
    align-items: center;
}

.right ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  border-radius: 10px;
}

/* HOVER ONLY WHEN NOT ACTIVE */
.right ul li a:hover:not(.active) {
  background-color: #ececec;
}

/* ACTIVE (Clicked Page) */
.right ul li a.active {
  background-color: #2563eb;  /* blue */
  color: white;
}

.fa-arrow-right-from-bracket, .logout{
    color: rgb(176, 0, 0);
}

.user-data {
    font-size: 1rem;
}

.userEmail{
    font-size: 0.8rem;
    color: grey;
}

.user-section{
  border-left: 1px solid #dcdcdc;   /* vertical line */
  padding-left: 20px;               /* space after line */
  margin-left: 20px;                /* space before line */
  height: 40px;                     /* adjust */
  align-items: center;
}