.Notes-items {
    padding: 1.5rem;
    box-shadow: 0 0 2px gray;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.Notes-items:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}


.Note-title {
    display: flex;
    justify-content: space-between;
}

.description {
    margin: 1rem 0;
    font-weight: 500;
}

.Note-lower-data {
    display: flex;
    justify-content: space-between;
}

.Note-btn {
    font-size: 1.2rem;
}

.note-date {
    margin: 0.8rem 0;
}

.note-tag {
    border-radius: 2rem;
    padding: 0.4rem 1.1rem;
    font-weight: 500;
}

/* Base card style */
.Notes-items {
    padding: 20px;
    border-radius: 10px;
    background: #f5f5f5;
    transition: 0.3s;
}

/* Tag Colors */
.work {
     background-color: #dbeafe;
  color: #2563eb;
}
.general {
      background-color: #ccfbf1;
  color: #0d9488;
}

.personal {
   background-color: #f3e8ff;
  color: #9333ea;
}

.ideas {
   background-color: #dcfce7;
  color: #16a34a;
}

.important {
     background-color: #fee2e2;
  color: #dc2626;
}

.fa-pen-to-square {
    background-color: rgb(209, 213, 255);
    padding: 0.6rem;
    color: rgb(27, 27, 239);
    border-radius: 1rem;
    margin-right: 10px;
}

.fa-pen-to-square:hover {
    background-color: rgb(122, 135, 250);
}

.note-trash-btn {
    color: rgb(227, 48, 48);
    background-color: rgb(255, 213, 213);
    padding: 0.6rem;
    border-radius: 1rem;
}

.note-trash-btn:hover {
    background-color: rgb(247, 181, 181);
}