.Notes-items {
    padding: 1.5rem;
    box-shadow: 0 0 2px gray;
    border-radius: 1rem;
    background-color: #f2f2f2;
    width: 100%;
    min-height: 120px;
}

.Note-Item{

}

.Note-title {
    display: flex;
    justify-content: space-between;
}

.description {
    margin: 1rem 0;
    font-weight: 500;
}

.Note-lower-data {
    display: flex;
    justify-content: space-between;
}

.Note-btn {
    font-size: 1.2rem;
}

.date {
    margin: 0.8rem 0;
}

.tag {
    background-color: rgb(255, 213, 213);
    color: rgb(190, 11, 11);
    border-radius: 2rem;
    padding: 0.4rem 1.1rem;
    font-weight: 500;
}

.fa-pen-to-square {
    background-color: rgb(194, 200, 255);
    padding: 0.6rem;
    color: rgb(27, 27, 239);
    border-radius: 1rem;
    margin-right: 10px;
}

.fa-trash-can {
    background-color: rgb(247, 181, 181);
    color: rgb(138, 41, 41);
    padding: 0.6rem;
    border-radius: 1rem;
}